<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="/delete" >
        <table border="true">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Image</th>
                <th>Actions</th>
            </thead>
    
            <body>
                <% products.forEach(item=>{%>
                    <tr>
                        <td>
                            <%= item.id%>
                        </td>
                        <td>
                            <%= item.name%>
                        </td>
                        <td>
                            <%= item.quantity%>
                        </td>
                        <td>
                            <img width="50px" src="<%= item.image%>" />
                        </td>
                        <td>
                            <input type="checkbox" name="checked" value="<%= item.id%>"/>
                        </td>
                    </tr>
                <% }) %>
                </body>
        </table>
        <button type="submit">Delete</button>
    </form>
    <br>
    <br>
    <form action="/save", method="post" enctype="multipart/form-data">
        <input placeholder="ID" name="id"/>
        <input placeholder="Name" name="name"/>
        <input placeholder="Quantity" name="quantity"/>
        <input type="file" placeholder="image" name="image" accept="image/*"/>
        <button type="submit">Submit</button>
    </form>
</body>

</html>